@font-face {
  font-family: "September";
  src: url("./assets/fonts/September-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "September";
  src: url("./assets/fonts/September-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}